* {
    margin: 0;
    padding: 0
}

body {
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.main {
    margin: 0 auto
}

.home {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8vw;
    justify-content: center
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin-top: 5vw
}

.home-titleyw {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    font-size: 12px;
    line-height: 24px;
    color: #efcb85;
    margin-top: 1vw
}

.piaofu {
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 5vw
}

.piaofu img {
    width: 30vw;
    height: 15vw
}

.home-yah {
    display: flex;
    width: 50vw;
    justify-content: center;
    margin-top: 5vw
}

.home-yah img {
    width: 40vw;
    height: 90vw
}

.piaofu1 {
    width: 95vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 5vw
}

.piaofu1 img {
    width: 30vw;
    height: 15vw
}

.home-ewm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw
}

.home-ewm img {
    width: 30vw;
    height: 30vw
}

.home-zcyq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-top: 2vw
}

.home-zcyq img {
    width: 40vw;
    height: 10vw
}

.hemo-yilu {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw
}

.hemo-yilu img {
    width: 50vw;
    height: 5vw
}

.hmeo-zcyq-title {
    display: flex;
    width: 50vw;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 32px;
    color: #f4cfa3;
    margin-top: 5vw
}

.hmeo-zcyq-titlenr {
    display: flex;
    margin-top: 3vw;
    width: 50vw;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 24px;
    color: #f4cfa3
}

.home-lcbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 5vw
}

.home-lcbanner img {
    width: 50vw;
    height: 22vw
}

.home-lcxx {
    width: 50vw;
    margin-top: 3vw
}

.home-lcxx img {
    width: 50vw;
    height: 20vw
}

.home-name {
    font-size: 32 rpx;
    color: #f3da91;
    margin-top: 5vw;
    font-weight: 500;
    width: 50vw;
    display: flex;
    justify-content: flex-start
}

.home-input input {
    color: #0e0e0e;
    font-size: 24 rpx;
    line-height: 50 rpx;
    height: 8vw;
    width: 50vw;
    margin-top: 5vw
}

.home-input textarea {
    width: 50vw;
    margin-top: 5vw;
    height: 15vw;
    color: #dadada;
    padding-left: 2vw
}

.homer-dhtitle {
    display: flex;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    font-weight: 700
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0c988;
    margin-top: 5vw;
    height: 10vw
}

.submit input {
    width: 100%;
    background-color: #f0c988;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border: #f0c988 solid 1px;
    display: block
}

#container {
    width: 50vw;
    height: 50vw
}

.ditua {
    margin-top: 2vw;
    display: flex;
    width: 50vw;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around
}

.ditulist {
    margin-top: 3vw;
    display: flex;
    width: 25vw;
    justify-content: center;
    align-items: center;
    height: 10vw
}

.ditulist a {
    display: block;
    width: 23vw;
    color: #fff;
    background-color: #bc832a;
    font-size: 12px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 3vw
}