* {
    margin: 0;
    padding: 0
}

body {
    /*background-image: url(../img/bg.png);*/
    background: url("../img/bg1.png") no-repeat;
    background-size:100% 100%;
    color: #ffffff;
    /*overflow-x: hidden;*/
    background-attachment: fixed;
}

.main {
    margin: 0 auto
}

.home {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8vw;
    justify-content: center
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin-top: 5vw
}

.home-titleyw {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 1vw
}

.piaofu {
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 5vw
}

.piaofu img {
    width: 20vw;
    height: 16.2vw
}

.home-yah {
    display: flex;
    width: 50vw;
    justify-content: center;
    margin-top: 5vw
}

.home-yah img {
    width: 90vw;
    height: 90vw
}

.home-yah1 {
    display: flex;
    width: 60vw;
    justify-content: center;
    margin-top: 5vw
}

.home-yah1 img {
    width: 90vw;
    height: 47vw
}

.piaofu1 {
    width: 95vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 5vw
}

.piaofu1 img {
    width: 20vw;
    height: 12.4vw;
}

.home-ewm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw
}

.home-ewm img {
    width: 30vw;
    height: 30vw
}

.home-zcyq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vw
}

.home-zcyq img {
    width: 40vw;
    height: 10vw
}

.hemo-yilu {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw
}

.hemo-yilu img {
    width: 50vw;
    height: 5vw
}

.hmeo-zcyq-title {
    display: flex;
    width: 60vw;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #ffffff;
    margin-top: 5vw
}

.hmeo-zcyq-titlenr {
    display: flex;
    margin-top: 3vw;
    width: 50vw;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #ffffff
}

.home-lcbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 5vw
}

.home-lcbanner img {
    width: 50vw;
    height: 22vw
}

.home-lcxx {
    width: 87vw;/*1390*/
    margin-top: 3vw/*1622*/
}

.home-lcxx img {
    width: 87vw;/*1390   695 348 174  87*/
    height: 100vw/*1622 811 405 202 101*/
}

.home-lcxx4 {
    width: 87vw;
    margin-top: 3vw
}

.home-lcxx4 img {
    width: 87vw;/*1390   695 348 174  87*/
    height: 62vw/*1622 811 405 202 101*/
}

.home-lcxx3 {
    width: 87vw;
    margin-top: 3vw
}

.home-lcxx3 img {
    width: 87vw;/*1440   144 72 174  87*/
    height: 65vw/*1080 108 54 202 101*/
}

.home-lcxx2 {
    width: 87vw;
    margin-top: 3vw
}

.home-lcxx2 img {
    width: 87vw;/*1920   192 96 174  87*/
    height: 49vw/*1080 108 54 202 101*/
}

.home-lcxx1 {
    width: 73vw;
    margin-top: 3vw
}

.home-lcxx1 img {
    width: 73vw;/*504   252 146 73  */
    height: 188vw/*1426 713 356 178 */
}

.home-name {
    font-size: 32 rpx;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5vw;
    font-weight: 500;
    width: 50vw;
    display: flex;
    justify-content: flex-start
}

.home-input input {
    color: #0e0e0e;
    font-size: 24 rpx;
    line-height: 50 rpx;
    height: 8vw;
    width: 50vw;
    margin-top: 5vw
}

.home-input textarea {
    width: 50vw;
    margin-top: 5vw;
    height: 15vw;
    color: #dadada;
    padding-left: 2vw
}

.homer-dhtitle {
    display: flex;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    margin-top: 50px;
    font-weight: 700
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0c988;
    margin-top: 5vw;
    height: 10vw
}

.submit input {
    width: 100%;
    background-color: #f0c988;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border: #f0c988 solid 1px;
    display: block
}

#container {
    width: 50vw;
    height: 50vw
}

.ditua {
    margin-top: 2vw;
    display: flex;
    width: 50vw;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around
}

.ditulist {
    margin-top: 3vw;
    display: flex;
    width: 25vw;
    justify-content: center;
    align-items: center;
    height: 10vw
}

.ditulist a {
    display: block;
    width: 23vw;
    color: #fff;
    background-color: #bc832a;
    font-size: 12px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 3vw
}
